.main{
  width: 100%;
  background-color: #000;
}

.realMomentContainer {
  margin-left: 7%;
  max-width: 900px;
  padding: 40px 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.heading {
  font-family: Lora;
  font-weight: 400;
  font-size: 24px;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slideTrack {
  display: flex;
  width: calc(300px * 6);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slideTrack > * {
  margin-right: 20px;
}


@media screen and (max-width:1020px) {
  .realMomentContainer {
    margin-left: 6%;
    max-width: 90%;
  }
}


