.roommain {
  width: 250px;
  height: 350px;
  background-color: #ffffff1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.roommain:hover {
  transform: translateY(-5px);
}

.roomimage {
  margin-top: -10px;
  margin-left: -20px;
  width: 310px;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
  margin-right: 20px;
}

.descriptioncontent{
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}


@media screen and (max-width:740px) {
  .roommain {
    width: 200px;
    height: 300px;
  }
  
  .roomimage {
    margin-left: -17px;
    width: 250px;
    height: 150px;
  }
  
  .description{
    gap: 15px;
  }
}
